body {
    background-image: url('/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.content-card {
    background-color: #fff;
    /* padding: 30px; */
    height: auto;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;    
    bottom: 0;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateX(-50%);
}

.content-card-inner {
    overflow-y: scroll;
    padding: 30px;
}

.content-card-dl {
    background-color: #fff;
    padding: 40px;
    height: 750px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;    
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateX(-50%);
}


.form-container {
    padding-top: 30px;
}

.img-wrapper {
    width: 10%;
    height: auto;
}

.credit {
    position: absolute;
    bottom: 0;
}

.center-topic {
    text-align: center;
}

.center-alignment {
    /* position: relative; */
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top: 25%;
}

.btn-alignment {
    top: 50%;
    left: 50%;
    text-align: center;
}




